<div class="container">
    <div class="overlay" *ngIf="autoComplete.value" (click)="clearSearch()"></div>
    <div>
        <mat-toolbar color="accent"><span class="categories">
            <a mat-button [routerLink]="['/category/',category]" *ngFor="let category of categories">{{category}}</a></span></mat-toolbar>
        <div class="search-box">
            <mat-form-field class="search" color="primary">
                <mat-label>Search coupon</mat-label>
                <mat-spinner matPrefix *ngIf="autoComplete.value?.length > 0 && autoComplete.value?.length < 3" [diameter]="30" color="primary"></mat-spinner>
                <input type="search" matInput (input)="searchListener()" [formControl]="autoComplete" />
                <button mat-icon-button matSuffix *ngIf="autoComplete.value" (click)="clearSearch()">
                    <mat-icon>cancel</mat-icon>
                </button>
            </mat-form-field>
            <mat-form-field class="search-by">
                <mat-label>Search by</mat-label>
                <mat-select [(value)]="searchOption">
                    <mat-option value="All">All</mat-option>
                    <mat-option *ngFor="let category of categories" [value]="category">{{category}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="search-coupons offers mat-elevation-z8" *ngIf="autoComplete.value">
            <app-minicoupon *ngFor="let coupon of optionsB" [coupon]="coupon" [search]="true">
            </app-minicoupon>
        </div>
    </div>
    <br>
    <br>
    <br>
    <div>

        <div class="limited-time mat-elevation-z8">
            <h2>Limited Time Coupons - DONT MISS OUT</h2>
            <div class="limited-time-coupons offers">

                <app-minicoupon *ngFor="let coupon of limitedTimeCoupons" [coupon]="coupon"></app-minicoupon>
            </div>
        </div>

        <div class="top-picks mat-elevation-z8">
            <h2>Customers Top Picks</h2>
            <div class="top-picks-coupons offers">
                <app-minicoupon *ngFor="let coupon of topPicksCoupons" [coupon]="coupon"
                    [boughtBy]="coupon._bought"></app-minicoupon>
            </div>
        </div>
        
        <div class="elec mat-elevation-z8">
            <h2>Electricity</h2>
            <div class="elec-coupons offers">
                <app-minicoupon *ngFor="let coupon of electricityCoupons" [coupon]="coupon"
                    [boughtBy]="coupon._bought"></app-minicoupon>
            </div>
        </div>
    
        <div class="fashion mat-elevation-z8">
            <h2>Fashion</h2>
            <div class="fashion-coupons offers">
                <app-minicoupon *ngFor="let coupon of fashionCoupons" [coupon]="coupon"
                    [boughtBy]="coupon._bought"></app-minicoupon>
            </div>
        </div>
        <div class="food mat-elevation-z8">
            <h2>Food</h2>
            <div class="food-coupons offers">
                <app-minicoupon *ngFor="let coupon of foodCoupons" [coupon]="coupon"
                    [boughtBy]="coupon._bought"></app-minicoupon>
            </div>
        </div>
        <div class="pets mat-elevation-z8">
            <h2>Pets</h2>
            <div class="pets-coupons offers">
                <app-minicoupon *ngFor="let coupon of petsCoupons" [coupon]="coupon"
                    [boughtBy]="coupon._bought"></app-minicoupon>
            </div>
        </div>

     
        <div class="furniture mat-elevation-z8">
            <h2>Furniture</h2>
            <div class="furniture-coupons offers">
                <app-minicoupon *ngFor="let coupon of furnitureCoupons" [coupon]="coupon"
                    [boughtBy]="coupon._bought"></app-minicoupon>
            </div>
        </div>
        <div class="spa mat-elevation-z8">
            <h2>Spa</h2>
            <div class="spa-coupons offers">
                <app-minicoupon *ngFor="let coupon of spaCoupons" [coupon]="coupon"
                    [boughtBy]="coupon._bought"></app-minicoupon>
            </div>
        </div> <br>
      
    </div>

</div>