<div class="container">
    <div class="overlay" *ngIf="autoComplete.value" (click)="overlayOff()"></div>
    <div>
        <mat-toolbar color="accent"><span class="categories">
            <a mat-button [routerLink]="['/category/',category]" *ngFor="let category of categories">{{category}}</a></span></mat-toolbar>
        <div class="search-box">
            <mat-form-field class="search">
                <mat-label>Search coupon</mat-label>
                <input type="search" matInput (input)="clearOptions()" [formControl]="autoComplete" />
                <button mat-icon-button matSuffix *ngIf="autoComplete.value" (click)="clearSearch()">
                    <mat-icon>cancel</mat-icon>
                </button>
            </mat-form-field>
            <mat-form-field class="search-by">
                <mat-label>Search by</mat-label>
                <mat-select [(value)]="searchOption">
                    <mat-option value="All">All</mat-option>
                    <mat-option *ngFor="let category of categories" [value]="category">{{category}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="search-coupons offers mat-elevation-z8" [ngClass]="{'hide':autoComplete.value==''}">
            <app-minicoupon *ngFor="let coupon of optionsObs | async" [coupon]="coupon" [search]="true">
            </app-minicoupon>
        </div>
    </div>
    <br>
    <br>
    <br>
    <div>

        <div class="limited-time mat-elevation-z8">
            <h2>Limited Time Coupons - DONT MISS OUT</h2>
            <div class="limited-time-coupons offers">

                <app-minicoupon *ngFor="let coupon of limitedTimeCoupons" [coupon]="coupon"></app-minicoupon>
            </div>
        </div>

        <div class="top-picks mat-elevation-z8">
            <h2>Customers Top Picks</h2>
            <div class="top-picks-coupons offers">
                <app-minicoupon *ngFor="let suggestion of topPicksCoupons" [coupon]="suggestion.coupon"
                    [boughtBy]="suggestion.count"></app-minicoupon>
            </div>
        </div>
        <div class="food mat-elevation-z8">
            <h2>Food</h2>
            <div class="food-coupons offers">
                <app-minicoupon *ngFor="let suggestion of foodCoupons" [coupon]="suggestion.coupon"
                    [boughtBy]="suggestion.count"></app-minicoupon>
            </div>
        </div>
        <div class="elec mat-elevation-z8">
            <h2>Electricity</h2>
            <div class="elec-coupons offers">
                <app-minicoupon *ngFor="let suggestion of electricityCoupons" [coupon]="suggestion.coupon"
                    [boughtBy]="suggestion.count"></app-minicoupon>
            </div>
        </div>
        <div class="vacation mat-elevation-z8">
            <h2>Vacation</h2>
            <div class="vacation-coupons offers">
                <app-minicoupon *ngFor="let suggestion of vacationCoupons" [coupon]="suggestion.coupon"
                    [boughtBy]="suggestion.count"></app-minicoupon>
            </div>
        </div>
        <div class="fashion mat-elevation-z8">
            <h2>Fashion</h2>
            <div class="fashion-coupons offers">
                <app-minicoupon *ngFor="let suggestion of fashionCoupons" [coupon]="suggestion.coupon"
                    [boughtBy]="suggestion.count"></app-minicoupon>
            </div>
        </div>
        <div class="pets mat-elevation-z8">
            <h2>Pets</h2>
            <div class="pets-coupons offers">
                <app-minicoupon *ngFor="let suggestion of petsCoupons" [coupon]="suggestion.coupon"
                    [boughtBy]="suggestion.count"></app-minicoupon>
            </div>
        </div>

        <div class="tourism mat-elevation-z8">
            <h2>Tourism</h2>
            <div class="tourism-coupons offers">
                <app-minicoupon *ngFor="let suggestion of tourismCoupons" [coupon]="suggestion.coupon"
                    [boughtBy]="suggestion.count"></app-minicoupon>
            </div>
        </div>
        <div class="furniture mat-elevation-z8">
            <h2>Furniture</h2>
            <div class="furntire-coupons offers">
                <app-minicoupon *ngFor="let suggestion of furnitureCoupons" [coupon]="suggestion.coupon"
                    [boughtBy]="suggestion.count"></app-minicoupon>
            </div>
        </div>
        <div class="spa mat-elevation-z8">
            <h2>Spa</h2>
            <div class="spa-coupons offers">
                <app-minicoupon *ngFor="let suggestion of spaCoupons" [coupon]="suggestion.coupon"
                    [boughtBy]="suggestion.count"></app-minicoupon>
            </div>
        </div> <br>
        Fashion
        <br>
        Pets
        <br>
        Tourism
        <br>
        Furniture
        <br>
        Spa
        <br>
        recently viewed
    </div>

</div>