.offers{
    margin-bottom: 16px;
    display : grid;
}

.search{
    width: 75%;
    margin-right: 6px;
    margin-left: 16px;
    position: absolute;
    z-index: 5;
    top: 185px;
}
mat-toolbar {
    height: 120px;
}
mat-toolbar a:not(:last-child){
    margin-right: 70px;
}
.categories{
    position: absolute;
    top: 147px;
}
.search-by{
    position: absolute;
    width: 12%;
    right: 72px;
    margin-right: 16px;
    top: 185px;
    z-index: 5;
}
mat-form-field{
    background-color: rgb(255,215,64);
}
.hide{
    display:none;
}
.overlay{
    position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}
.search-coupons{
    grid-template-columns: 33% 33% 33%;
    position: absolute;
    left: 79px;
    top: 245px;
    width: 75%;
    z-index: 5;
    background-color: white;
}
.limited-time-coupons{
    grid-template-columns: 33% 33% 33%;
}
.top-picks-coupons{
    grid-template-columns: 20% 20% 20% 20% 20%;
}
.food-coupons{
    grid-template-columns: 20% 20% 20% 20% 20%;
}
.elec-coupons{
    grid-template-columns: 20% 20% 20% 20% 20%;
}
.vacation-coupons{
    grid-template-columns: 20% 20% 20% 20% 20%;
}
.fashion-coupons{
    grid-template-columns: 20% 20% 20% 20% 20%;
}
.pets-coupons{
    grid-template-columns: 20% 20% 20% 20% 20%;
}
.tourism-coupons{
    grid-template-columns: 20% 20% 20% 20% 20%;
}
.furniture-coupons{
    grid-template-columns: 20% 20% 20% 20% 20%;
}
.spa-coupons{
    grid-template-columns: 20% 20% 20% 20% 20%;
}