<div class="container">
    <mat-toolbar color="primary">
        <span class="logo" (click)="goHome()">
            <img src='assets/logo2.png' alt='alt' />
        </span>
        <!-- <span>
        {{loginService.authenticated}}
    </span>&nbsp;<span> 
        {{loginService.clientType?.toString() || 'no client type'}}
    </span> -->
        <span class="fill-toolbar"></span>
        
        <div class="actions">
            <mat-spinner color="accent" *ngIf="!loginService.authenticated; else logout" [diameter]="30"></mat-spinner>
            <ng-template #logout>
                
                
                <button mat-icon-button *ngIf="loginService.authenticated == 2" [matMenuTriggerFor]="myMenu" ><mat-icon>account_circle</mat-icon></button>
                <mat-menu #myMenu="matMenu">
                    
                   
                    
  
                    <ng-container *ngIf="loginService.clientType?.toString() == 'Customer'">
                        <button mat-menu-item routerLink="customer-profile">My Profile</button>
                    </ng-container>
                    <button mat-menu-item (click)="loginService.logout()">Logout</button>
                    

                </mat-menu>
            </ng-template>

        </div>
    </mat-toolbar>

</div>