<div class="container">
    <div *ngIf="!coupon">
        <mat-spinner color="accent" [diameter]="60"></mat-spinner>
    </div>
    <div class="search" *ngIf="search && coupon">

        <button mat-button (click)="selectCoupon()">

            <img [src]="imgPlaceHolder" alt="" />
        </button>

        {{coupon._title}}
        <p>
            {{coupon._description}}
        </p>
        {{boughtBy}} people bought this!

    </div>
    <div *ngIf="!search && coupon">

        
        <button mat-button (click)="selectCoupon()"><img [src]="imgPlaceHolder" alt="" /></button>

        
        <div class="coupon-info">
            {{coupon._title}}
            <span class="price">
                {{coupon._price | currency:'ILS' }}
            </span><br>
            <a [routerLink]="['/category/',coupon._category]">{{coupon._category}}</a>
            <span class="bought">
                {{boughtBy}} bought this

            </span>
        </div>
    </div>

</div>