<div class="container mat-elevation-z9">
    <h1>My Profile</h1>
    <mat-tab-group animationDuration="0ms">
        <mat-tab label="My Info">
            <section class="info">
                <mat-toolbar color="accent">

                    <div class="info-header">
                        Company Information:
                    </div>
                </mat-toolbar>
                <div class="info-line">
                   <label>Name:</label> <span> {{company?._name}} </span>
                </div>
                <div class="info-line">
                    <label>Email:</label> <span>{{company?._email}}</span>
                </div>
                <div class="info-line">
                    <label>Password:</label> <span>{{company?._password}}</span>
                </div>
            </section>
        </mat-tab>
        <mat-tab label="Coupons">
            <button mat-raised-button class="create" (click)="createCoupon()">Add Coupon</button>
            <mat-form-field class="search">
                <mat-label>
                    Search
                </mat-label>
                <input matInput placeholder="Search a coupon" [(ngModel)]="search" (keyup)="filterSearch()" />
                <button mat-icon-button matSuffix (click)="clearSearch()"><mat-icon>cancel</mat-icon></button>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Search by</mat-label>
                <mat-select [(value)]="searchOption">
                    <mat-option value="Regular Search">Regular Search</mat-option>
                    <mat-option value="By Category">By Category</mat-option>
                    <mat-option value="By Max Price">By Max Price</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
                <ng-container matColumnDef="image">
                    <mat-header-cell *matHeaderCellDef>image</mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <img [src]="element._imageUrlData" [alt]="element._title" width="90" height="90" [title]="element._title" />
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="title">
                    <mat-header-cell *matHeaderCellDef>description</mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        {{element._title}}<br>
                        {{element._description}}
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="category">
                    <mat-header-cell *matHeaderCellDef>Category</mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        {{element._category}}
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="endDate">
                    <mat-header-cell *matHeaderCellDef>Valid through</mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        {{element._startDate}} to<br> 
                        {{element._endDate}}
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="originalAmount">
                    <mat-header-cell *matHeaderCellDef>Amount </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        {{element._currentAmount}} / {{element._originalAmount}}
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="bought">
                    <mat-header-cell *matHeaderCellDef>Amount of purchases</mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        {{element._bought}}                        
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="price">
                    <mat-header-cell *matHeaderCellDef>Price</mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        {{element._price | currency: 'ILS'}}
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <button mat-icon-button (click)="editCoupon(element)"><mat-icon>launch</mat-icon></button>
                        
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="loading">
                    <mat-footer-cell *matFooterCellDef colspan="5">
                        <mat-spinner color="accent" [diameter]="30"></mat-spinner>
                    </mat-footer-cell>
                </ng-container>
                <ng-container matColumnDef="noData">
                    <mat-footer-cell *matFooterCellDef colspan="5">
                        No Coupons to show!
                    </mat-footer-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':dataSource!=null}"></mat-footer-row>
                <mat-footer-row *matFooterRowDef="['noData']"
                    [ngClass]="{'hide': !(dataSource !=null && dataSource.data.length == 0)}"></mat-footer-row>
            </mat-table>
            <mat-paginator [pageSizeOptions]="[5,10,20,100]" [pageSize]="5"></mat-paginator>
        </mat-tab>
    </mat-tab-group>
</div>