<div class="container mat-elevation-z8">
    <div class="loading" *ngIf="!coupon">
        <mat-spinner color="accent" diameter="200"></mat-spinner>
    </div>
    <div class="coupon-page" *ngIf="coupon">
        <div class="coupon-card">

            <img [src]="coupon?._image" [alt]="coupon?._title" />
            <div class="info">
                <div class="info-content">

                    <h1>{{coupon?._title}}</h1>
                    <h3>{{coupon?._description}}</h3>
                    <p>This coupon expires on {{coupon?._endDate}}, hurry!</p>
                    <p>only {{coupon?._price | currency:'ILS'}}</p>
                    <button mat-raised-button color="accent" [disabled]="disableBuyButton"
                        (click)="purchaseCoupon()">Buy
                        NOW!</button>
                    <p>{{purchaseAmount}} other people bought this coupon </p>
                    <p class="count-down" *ngIf="limitedTime()">
                        ONLY {{ countDown }} HOURS LEFT! HURRY!
                    </p>

                </div>
            </div>
      
        </div>
        <hr>
        <div class="additional">
            <p>People who bought {{coupon?._title}} Also enjoyed these:</p>
            <div class="additional-coupons">

                <app-minicoupon *ngFor="let coupon of otherCustomersCoupons" [boughtBy]="coupon._bought"
                    [coupon]="coupon"></app-minicoupon>
            </div>
        </div>
        <hr>
        <div class="additional" *ngIf="recentlyViewedCoupons">
            <p>You were recently interested in these coupons:</p>
            <div class="additional-coupons">

                <app-minicoupon *ngFor="let coupon of recentlyViewedCoupons" [boughtBy]="coupon._bought"
                    [coupon]="coupon"></app-minicoupon>
            </div>
        </div>
    </div>

</div>