.form-card{
    width: 30%;
    min-height: 300px;
    padding: 16px;
    margin: 0 auto;
    margin-top: 16px;
}
form{
    margin: 16px;
    width: 80%;
    margin: 0 auto;
    margin-top: 6px;
}
mat-form-field{
    display: block;
}
button{
    margin-right: 6px;
}