<div class="container mat-elevation-z9">
    <h1>My Profile</h1>
    <mat-tab-group animationDuration="0ms">
        <mat-tab label="My Info">
            <section class="info">
                <mat-toolbar color="accent">

                    <div class="info-header">
                        Personal Information:
                    </div>
                </mat-toolbar>
                <div class="info-line">
                   Name: <span> Jon doe</span>
                </div>
                <div class="info-line">
                    Email: <span>Email</span>
                </div>
                <div class="info-line">
                    Password: <span>Password</span>
                </div>
            </section>
        </mat-tab>
        <mat-tab label="My Coupons">
            
        </mat-tab>
    </mat-tab-group>
</div>