.container{
    width: 85%;
    margin: 10px auto;
    text-align: center;
}
.error{
    margin: 0;
    position: absolute;
    top: 30%;
    left: 50%;
    -ms-transform: translateY(-70%);
    -ms-transform: translateX(-50%);
    transform: translateY(-70%);
    transform: translateX(-50%);
    width: 400px;
    height: 200px;
    border: 1px solid purple;
}